.button_close {
  cursor: pointer;
  background: transparent;
  border: none;
  position: relative;
  left: 2.25rem;
  bottom: 2.25rem;
  align-self: flex-end;
  padding: 0;
}

@media screen and (max-width: 590px) {
  .button_close {
    left: 0;
    bottom: 3rem;
    width: 1.625rem;
  }
}
