.button_edit {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 430px) {
  .button_edit {
    width: 1.125rem;
    height: 1.125rem;
  }
}
